body { 
    background: url(/img/congruent_pentagon.png) repeat 0 0;
}

h1 {
	font-family: 'Allerta', Helvetica, Arial, sans-serif;
}

h3 {
	font-family: 'Allerta', Helvetica, Arial, sans-serif;
}
 
body {
	font-family: 'Crimson Text', Georgia, Times, serif;
	line-height: 25px;
}