<!doctype html>
<html lang="en" ng-app="auctionApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/rsrc/angular.min.js"></script>
    <script src="js/rsrc/bootstrap.min.js"></script>

    <script src="js/appStart.js"></script>
    <script src="js/controllers/auctionCtrl.js"></script>
    <style>.active { color: red; font-weight: bolder; }</style>
    <title>Auction 138</title>
  </head>
  <body bgcolor=white ng-controller="auctionCtrl">
  <div class="container">
    <div class="center-block" style="border-style:solid">
      <h1 class="text-center">Auction 138</h1>

      <div id="auctions" ng-init="loadauction()">
        <table align="center" style="width:100%" class="table table-striped">
          <tr>
            <th class="text-center col-sm-2">Item Name</th>
            <th class="text-center col-sm-1">Current Price</th>
            <th class="text-center col-sm-2">Buyout Price</th>
            <th class="text-center col-sm-2">End Time</th>
            <th class="text-center col-sm-1">Condition</th>
            <th class="text-center col-sm-2">Bid Amount</th>
            <th class="text-center col-sm-2"></th> <!-- leave blank, col for bid button -->
          </tr>
          <tr ng-repeat="auc in auctions">
            <td class="text-center col-sm-2">{{auc.item_name}}</td>
            <td class="text-center col-sm-1">${{auc.current_price}}</td>
            <td class="text-center col-sm-2">${{auc.buyout_price}}</td>
            <td class="text-center col-sm-2">{{auc.end_time}}</td>
            <td class="text-center col-sm-1">{{auc.item_condition}}</td>
            <td class="col-sm-2"><div align="middle"><input style="width:50%"  ng-model="auc.curbid" type="number"></div></td>
            <td class="col-sm-2"><button class="btn btn-default" ng-click="placebid(auc)">Place Bid</button></td>
          </tr>
        </table>
      </div>

      <br>
      <div id="users">
        <form name="userInput" class="form"> 
        <!-- change to form-inline and tune to have two columns if time allows-->
          <div class="form-group" ng-repeat="attr in user.list">
            <label class="col-sm-2 control-label">{{attr.text}}</label>
            <div class="col-sm-2">
              <input type="text" required ng-model="attr.val" name="attr.name">
            </div>
            <br>
          </div>
        </form>

        <p>{{createduser}}</p>
        <p ng-show="success.create">butts</p>
        <button class="btn btn-default" ng-click="testcreate()">Test button</button>

      </div>
    </div>
  </div>
  </body>
</html>