<!doctype html>
<html lang="en" ng-app="auctionApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/rsrc/angular.min.js"></script>
    <script src="js/rsrc/bootstrap.min.js"></script>

    <script src="js/appStart.js"></script>
    <script src="js/controllers/auctionCtrl.js"></script>
    <style>.active { color: red; font-weight: bolder; }</style>
    <title>Auction 138</title>
  </head>
  <body bgcolor=white ng-controller="auctionCtrl">

    <h1>Auction 138</h1>

  <div class="center-block">
  <div>
    <h3>Enter a username to search for their active auctions (testuser is a good sample).</h3>
    <input type="text" ng-model="userauc.uname">
    <button ng-click="userauction()">Search</button>
    <table style="width:100%" class="table table-striped" ng-show="userauc.show">
        <tr>
          <th>Auction ID</th>
          <th>Status</th>
          <th>Current Price</th>
          <th>Buyout Price</th>
          <th>End Time</th>
          <th>Number of Bids</th>
        </tr>
        <tr ng-repeat="auc in userauc.results">
          <td>{{auc.auction_id}}</td>
          <td>{{auc.status}}</td>
          <td>${{auc.current_price}}</td>
          <td>${{auc.buyout_price}}</td>
          <td>{{auc.end_time}}</td>
          <td>{{auc.num_of_bids}}</td>
        </tr>
      </table>
  </div>
<br>
    <div ng-init="loadauction()">
      <table style="width:100%" class="table table-striped">
        <tr>
          <th>Item Name</th>
          <th>Current Price</th>
          <th>Buyout Price</th>
          <th>End Time</th>
          <th>Condition</th>
        </tr>
        <tr ng-repeat="auc in auctions">
          <td>{{auc.item_name}}</td>
          <td>${{auc.current_price}}</td>
          <td>${{auc.buyout_price}}</td>
          <td>{{auc.end_time}}</td>
          <td>{{auc.item_condition}}</td>
        </tr>
      </table>
    </div>

    <br>

    <form name="userInput">
      <div class="form-group" ng-repeat="attr in user.list">
        <label class="col-sm-2 control-label">{{attr.text}}</label>
        <input type="text" required ng-model="attr.val" name="attr.name">
        <br>
      </div>


    </form>


      <p>{{answers}}</p>
    <button class="btn btn-default" ng-click="testcreate()">Test button</button>
    <div ng-repeat="pers in answers">
        <p>{{ pers.firstname }}</p>
        <p>{{ pers.lastname }}</p>
        <p>{{ pers.st_add }}</p>
    </div>
  </div>
  </body>
</html>